


<div class="container">
    <div class="row">
		<div class="col-md-3">
			<h1>User info</h1>
			<h4>プロフィール画像</h4>
			<table class="table">
			<tr><%= attachment_image_tag user, :profile_image, size: "100x100", fallback: "no_image.jpg"  %></tr>
				<tr>
					<th>name</th>
					<td><%= user.name %></td>
				</tr>
				<tr>
					<th>introduction</th>
					<td><%= user.introduction %></td>
				</tr>
				<tr>
					<th>フォロー数</th>
					<td><%= link_to user.followings.count, follows_user_path(user) %></td>
				</tr>
				<tr>
					<th>フォローワー数</th>
					<td><%=link_to user.followers.count, followers_user_path(user) %></td>
				</tr>
				<% if user.id != current_user.id %>
					<% unless user.followed_by?(current_user) %>
						<tr>
							<th>フォロー</th>
							<td><%= link_to 'する？', user_relationships_path(user.id),method: :post, class: "btn btn-default" %></td>
						</tr>
					<% else %>
						<tr>
							<th>フォロー</th>
							<td><%= link_to 'フォローを外す', user_relationships_path(user.id),method: :destory, class: "btn btn-default" %></td>
						</tr>
					<% end %>
				<% end %>
			</table>

			<% if user.id == current_user.id %>
				<a class="social">
					<%= link_to edit_user_path(user.id) do %>
						<i class="fas fa-user-edit btn btn-primary col-xs-12"></i>
				  <% end %>
				</a>
			<% else %>
				<a class="social">
				　<%= link_to user_path(current_user.id) do %>
					　<i class="fas fa-user-edit btn btn-primary col-xs-12"></i>
				　<% end %>
				</a>
			<% end %>

				<!-- 現在ログインしているユーザーかどうか
				edit_pathに飛ぶ
				ちがうshowにとぶ -->

			<%= form_for(books) do |f| %>
				<h2>new book</h2>
				<h4>タイトル</h4>
				<%= f.text_field :title %>
				<h4>本文</h4>
				<%= f.text_area :body %>
				<%= f.submit '保存' %>
			<% end %>
	    </div>
    </div>
</div>
