<%= render 'users/error', book: @book %>
<div class="container">
	<div class="row">
		<main class= "box clearfix">
		<div class= "user-info col-sm-3">
		<%= render 'users/list', user: current_user ,books: @book %>
		</div>


		<h2>User</h2>
			<div class="col-sm-9">

				<table class="table float-lg-right">
					<thead>

				  		<tr>
						    <th>image</th>
						    <th>name</th>
						</tr>
					</thead>
					<tbody>
					<% @users.each do |user| %>
					    <tr>
					    	 <td><%= attachment_image_tag user, :profile_image, size: "50x50", format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %></td>
						    <td><%= user.name %></td>
						    <td><%=link_to "show", user_path(user.id) %></td>
						</tr>
					 <% end %>
					</tbody>
				</table>
			</div>
		</div>
		</main>

	</div>
</div>
 