
<%= render 'users/error', book: @book %>

<div class="container">
  <div class="row">
    <main class= "box clearfix">
      <div class= "user-info col-sm-3">
        <%= render 'users/list', user: current_user, books: @book %>
      </div>


      <h2>Book</h2>
        <div class="col-sm-9">
          <p>book search</p>
            <%= form_tag(search_path, :method => 'get' ) do |f| %>
            <%= text_field_tag :search %>
            <%= select_tag :model, options_for_select({"user" =>"user","book" =>"book"}) %>
            <%= select_tag :sort, options_for_select({"キーワード含む" => "1","完全一致" =>"2", "前方一致" =>"3", "後方一致" =>"4" }) %>
            <%= submit_tag 'Search'%>
          <% end %>

          <table class="table float-lg-right">
            <thead>

                <tr>
                  <th></th>
                  <th>title</th>
                  <th>body</th>
              </tr>
            </thead>
            <tbody>
            <% @books.each do |book| %>
                <tr>
                  <td><%= attachment_image_tag book.user, :profile_image, size: "50x50", fallback: "no_image.jpg"  %></td>

                  <td><%= link_to book.title, book_path(book.id) %></td>
                  <td><%= book.body %></td>
                  <td><%= book.comments.count %> コメント数</td>
                  <% if user_signed_in? %>
                    <td id="favorite-<%= book.id %>">
                      <%= render partial: "favorites", locals: {book: book} %>
                    </td>
<!-- ここからがフォロー機能 -->
                    <td>
                      <% if current_user != book.user %>
                        <% if book.user.followed_by?(current_user) %>
                          <p><%=link_to "フォロー外す", user_relationships_path(book.user.id), method: :delete, class: "btn btn-primary" %></p>
                        <% else %>
                          <p><%=link_to "フォローする", user_relationships_path(book.user.id), method: :post, class: "btn btn-default" %></p>
                        <% end %>
                      <% end %>
                    </td>
                  <% else %>
                    <p><span>お気に入り数: </span><%= book.favorites.count %></p>
                  <% end %>
              </tr>
             <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </main>

  </div>
</div>



