
<table class="table">
	<caption>検索結果</caption>
	<thead>
		<tr>
			<th>一覧</th>
		</tr>
	</thead>
	<tbody>
		<% if @model == "user" %>
			<% @result.each do |result| %>
			<tr>
				<td>
					<%= link_to result do %>
						<%= result.name %>
						<%= attachment_image_tag(result, :profile_image, size: "50x50", fallback: "no-image-icon.jpg") %>
						<%= result.id %>
						<%= result.email %>
					<% end %>
				</td>
			</tr>
			<% end %>
		<% elsif @model == "book" %>
			<tr>
				<td>
			<% @result.each do |result| %>
				<%= result.title %>
				<%= result.body %>
			<% end %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
